src/main/resources/xsd/RequestSchema/datosInLocalizar.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datosInLocalizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cuenta">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="cuentaLocal" type="xs:string" />
              <xs:element name="cuentaPresentacion" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="indVigente" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canal">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="canal" type="xs:string" />
        <xs:element name="empresa" type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
